$accent-color: #3FDA00

.df
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex

.dfc
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex

	flex-direction: column

.aic
	align-items: center
.jcc
	justify-content: center
.jsb
	justify-content: space-between
.fww
	flex-wrap: wrap
.center
	margin: auto

.centerX
	margin: 0 auto

.centerY
	margin: auto 0
.bottom
	margin-top: auto

