<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="../css/main.min.css")
	script(src="../js/scripts.min.js")
body
	header#header.header
		.top-line
			.container
				.box.df.aic
					a(href="/index.html").logotype
						img(src="../img/svg/logotype.svg", alt="").svg
					p.sub.
						Изготовление и установка детских<br/>
						решеток безопасности на окна в Астане
				.box
	

