<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="../css/main.min.css")
	script(src="../js/scripts.min.js")
body
	header#header.header
		.top-line
			.container.df.aic.jsb
				.box.df.aic
					a(href="/index.html").logotype
						img(src="../img/svg/logotype.svg", alt="")
					p.sub.
						Изготовление и установка детских<br/>
						решеток безопасности на окна в Астане
				.box.df.aic
					span.tel по вопросам:
						a(href="tel: +77781647391")  +77781647391
					button.call(madal="call") заказать звонок
		.container.dfc
			.wrp-text.dfc.jsb.center
				h1 lolps